@model ToDo_App.ViewModels.TodosViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Task</h2>
<p class="alert alert-info" id="alert-required">All fields are required<span><i class="glyphicon glyphicon-remove pull-right"></i></span></p>

@using (Html.BeginForm("Create", "Todos", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <div class="form-group" style="margin-top:15px">
        @Html.LabelFor(m => m.Todos.CategoryId)
        @Html.DropDownListFor(m => m.Todos.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"), "Select a Category", new { @class = "form-control",autofocus="autofocus" })
        @Html.ValidationMessageFor(m => m.Todos.CategoryId)
    </div>
    <div class="form-group" style="margin-top:15px">
        @Html.LabelFor(m => m.Todos.Description)
        @Html.TextBoxFor(m => m.Todos.Description, new { @class = "form-control",placeholder="Type a Task" })
        @Html.ValidationMessageFor(m => m.Todos.Description)
    </div>
    <div class="form-group" style="margin-top:15px">
        @Html.LabelFor(m => m.Todos.Duration)
        @Html.TextBoxFor(m => m.Todos.Duration, new { @class = "form-control", placeholder="Example: 60" })
        @Html.ValidationMessageFor(m => m.Todos.Duration)
    </div>
    <div class="form-group" style="margin-top:15px">
        @Html.LabelFor(m => m.Todos.DateTime)
        @Html.TextBoxFor(m => m.Todos.DateTime, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.Todos.DateTime)
    </div>
    <div class="custom-radio" style="margin-top:15px">
        <label>
            @Html.RadioButtonFor(m => m.Todos.IsDone, true) Done
        </label>
        <label>
            @Html.RadioButtonFor(m => m.Todos.IsDone, false, new { @checked = "checked" }) Waiting
        </label>
    </div>
    @Html.HiddenFor(m => m.Todos.Id)
    <button class="btn btn-info" type="submit">Save</button>
}

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $('#alert-required').on('click', function() {
                $(this).hide();
            });
        });
    </script>
}