@model IEnumerable<ToDo_App.Models.Todo>

@{
    ViewBag.Title = "Home Page";
}

<form class="form-inline pull-right"style="margin-right: 15px;">
    <div class="form-group">
        <input type="text" name="beginDateFilter" class="form-control" onfocus="(this.type='date')" placeholder="Begining Date" />
        <input type="text" name="EndDateFilter" class="form-control" onfocus="(this.type='date')" placeholder="End Date" />
        <button type="submit" class="btn btn-info mb-2">Filter</button>
    </div>
    
</form>
<br />  
<table class="table table-bordered" id="tbltodoindex">
    
    <thead>
    <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Date</th>
        <th>IsDone?</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Description</td>
            <td>@item.Duration</td>
            <td>@item.DateTime.ToString("dd-MM-yyyy")</td>
            <td>@(item.IsDone==true?"Done":"Waiting")</td>
            <td>@Html.ActionLink("Done", "Finish", new { id = item.Id }, new { @class = "btn btn-success" }) @Html.ActionLink("Update", "Update", new { id = item.Id }, new { @class = "btn btn-primary" }) @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
        </tr>
    }

    </tbody>
</table>

@section scripts{
    <script>
        $(function () {
            $("#tbltodoindex").DataTable();
        });
    </script>
}
