@model IEnumerable<ToDo_App.Models.Todo>

@{
    ViewBag.Title = "Home Page";
}

<form class="form-inline pull-right"style="margin-right: 15px;">
    <div class="form-group">
        <input type="text" name="beginDateFilter" class="form-control" onfocus="(this.type='date')" placeholder="Begining Date" />
        <input type="text" name="EndDateFilter" class="form-control" onfocus="(this.type='date')" placeholder="End Date" />
        <button type="submit" class="btn btn-info mb-2">Filter</button>
    </div>
    
</form>
<br />  
<table class="table table-bordered" id="tbltodoindex">
    
    <thead>
    <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Date</th>
        <th>IsDone?</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Category.CategoryName</td>
            @if (item.IsDone == true)
            {
                <td style="text-decoration: line-through">@item.Description</td>
            }
            else
            {
            <td id="todo-description">@item.Description</td>
            }

            <td>@item.Duration</td>
            <td>@item.DateTime.ToString("dd-MM-yyyy")</td>
            <td id="todo-isdone">
                @if (item.IsDone == false)
                {
                    <button class="btn btn-default js-isdone-button" data-todo-id="@item.Id">Complete</button>
                }
                else
                {
                    <i class="glyphicon glyphicon-check"> Done</i>;
                }
            </td>

            <td class="update-delete-todo-td">
                <div class="update-delete-todo">
                    <a href="/Todos/Edit/@item.Id">Edit</a> | <a href="#" class="js-iscancel-button" data-todo-id="@item.Id ">Delete</a>
                </div>
                
            </td>
        </tr>
    }

    </tbody>
</table>

@section scripts{
    <script>
        $(function() {
            $("#tbltodoindex").DataTable();
        });
    </script>

    <script>
        $(document).ready(function() {
            $(".js-isdone-button").on("click",
                function(e) {

                    var button = $(e.target);
                    $.post("/api/isdone", { todoId: button.attr("data-todo-id") })
                        .done(function() {

                            var htmlString = '<i class="glyphicon glyphicon-check"> Done</i>';
                            button.fadeOut(function() {
                                $(this).addClass('hide');
                            });

                            $(this).closest('tr').find('#todo-isdone').html(htmlString);

                            button.closest('tr').find('#todo-description').css('text-decoration', ' line-through').fadeIn();


                        })
                        .fail(function() {
                            alert("Failed");
                        });
                });

            $(".js-iscancel-button").click(function(e) {
                var link = $(e.target);

                bootbox.dialog({
                    title: 'Confirm',
                    message: "Are you sure to cancel this event?",
                    size: 'large',
                    buttons: {
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/iscanceled/" + link.attr("data-todo-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        link.closest("tr").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Failed!");
                                    });
                            }
                        },
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        }
                    }
                });
            });
        });
    </script>
}
